<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head> <meta charset="UTF-8"/>
  <title>Add course page</title> 
  </head> 
<body>

<form id="login-form" th:action="@{/coursemanage/homepage}" method="POST">
<p>Course Title:<input type="text" name="coursetitle"/></p>
<p>Course Desc: <input type="text" name="coursedesc"/></p>  
<p>Course Memo: <input type="text" name="coursememo"/></p> 
<p>Creator Name:
<select name="teacherName"> 
<option value="">--请选择--</option> 
<option th:each="userInfo:${userInfo}" th:value="${userInfo.id}" th:text="${userInfo.nickName}"></option> 
</select>
</p>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>
